{{#each chirps}}
<div class="card my-2 shadow">
    <a href="/chirps/{{_id}}"></a>
    <div class="card-body">
        <div class='d-flex align-items-center mb-4'>
            <img class='rounded-circle me-3' src="{{user.image}}" alt="">
            <h5 class="card-title">{{user.displayName}}</h5>
        </div>
        <h6 clase="card-text">{{content}}</h6>
        <div class="d-flex align-items-center justify-content-between mt-4">
            <p class="card-text">Location: {{location}}</p>
            <small class="card-text text-secondary">{{formatDate createdAt 'h:mm a - MMMM Do YYYY'}}</small>
        </div>
    </div>
</div>
{{/each}}