{{#each chirps}}
<div class="card my-2 shadow">
    <a href="/chirps/{{_id}}"></a>
    <div class="card-body">
        <img src="{{user.image}}" alt="">
        <h5 class="card-title">{{user.displayName}}</h5>
        <p clase="card-text">{{content}}</p>
        <h6 class="card-text">Location: {{location}}</h6>
        <small class="card-text text-secondary">{{formatDate createdAt 'h:mm a - MMMM Do YYYY'}}</small>
        
    </div>
</div>
{{/each}}