<h3>Welcome {{name}}</h3>
{{#each chirps}}
<div class='card my-2 shadow'>
    <a href='/chirps/{{_id}}'></a>
    <div class='card-body'>
        <img src='{{user.image}}' alt=''>
        <h5 class='card-title'>{{user.displayName}}</h5>
        <p clase='card-text'>{{content}}</p>
        <h6 class='card-text'>Location: {{location}}</h6>
        <div class='d-flex justify-content-between'>
            <small class='card-text text-secondary'>{{formatDate createdAt 'h:mm a - MMMM Do YYYY'}}</small>
            <a href='/chirps/edit/{{_id}}'>Edit Chirp</a>
        </div>
        <form method='POST' action='/chirps/{{_id}}?_method=DELETE'  id='delete-form'>
            <button type='submit' class='btn text-danger'>
                Delete
            </button>
        </form>

    </div>
</div>
{{/each}}