<h3 class='text-primary'>Welcome, {{name}}!</h3>
{{#if chirps}}
{{#each chirps}}
<div class='card my-2 shadow'>
    <a href='/chirps/{{_id}}'></a>
    <div class='card-body'>
        <h6 clase='card-text'>{{content}}</h6>
        <p class='card-text mt-4'>Location: {{location}}</p>
        <div class='d-flex justify-content-between'>
            <small class='card-text text-secondary'>{{formatDate createdAt 'h:mm a - MMMM Do YYYY'}}</small>
        </div>
        <div class='d-flex align-items-center justify-content-between'>
            <a class='text-decoration-none ' href='/chirps/edit/{{_id}}'>Edit Chirp</a>
            <form method='POST' action='/chirps/{{_id}}?_method=DELETE' id='delete-form'>
                <button type='submit' class='btn text-danger font-weight-bold'>
                    Delete
                </button>
            </form>
        </div>

    </div>
</div>
{{/each}}
{{else}}
<p>You have not written any chirps!</p>
{{/if}}